.header {
  background-color: white;
}

.header .nav_bar {
  display: flex;
}

.header .nav_bar img {
  width: 50px;
}

.header .nav_bar .nav_items {
  list-style: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #ffd3c7;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}